@import url(https://fonts.googleapis.com/css?family=Alegreya);
@media all {
	body {
		font: normal 100% 'Alegreya', sans-serif;
		background-color: #FEFEFE;
		padding: 0.6em;
	}
	* { -webkit-font-smoothing: antialiased; }
	.container {
		overflow: hidden;
		padding: 0 1em;
		max-width: 32.5em;
		margin: auto;
	}
	/* Fonte dos títulos */
	h1, h2, h3, h4, h5, h6 { font: normal 100% 'Alegreya', sans-serif; margin-bottom: -.6em; color: #666; }
	/* Tamanho da fonte dos títulos */
	h1 { font-size: 2.0em; }
	h2 { font-size: 1.8em; }
	h3 { font-size: 1.6em; }
	h4 { font-size: 1.4em; }
	h5 { font-size: 1.2em; }
	h6 { font-size: 1.0em; }
	/* Linha */
	.foot { color: #333; font-size: 1.2em; text-align: center; margin-top: 1em; padding-top: 1em; }
	.line { border-bottom: 1px solid #F0F0F0; margin-bottom: -1em; }
	/* links */
	a:link		{ text-decoration: none; color: #333; }
	a:visited	{ text-decoration: none; color: #333; }
	a:hover		{ text-decoration: none; color: #999; }
	p {
		font: normal 100% 'Alegreya', sans-serif;
		font-size: 1em;
		color: #777;
	}
	/* Listas */
	ul.list { list-style-type: none; font-size: 1em; }
	ol.list { list-style-type: none; font-size: 1em; }
	li.list { list-style-type: none; font-size: 1em; }
}