@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@media all {
	body {
		font: normal 100% 'Open Sans', sans-serif;
		background-color: #FEFEFE;
		color: #000000;
		padding: .6em;
		-webkit-font-smoothing: antialiased;
	}
	/* Classe Principal */
	.container {
		overflow: hidden;
		padding: 0 1em;
		max-width: 32.5em;
		margin: auto;
	}
	/* Ano */
	h2 {
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 3em;
		color: #585858;
		text-align: left;
		margin: 0 .05em 0 0;
		letter-spacing: .1em;
	}
	/* Mês */
	h4 {
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 2em;
		color: #696969;
		text-align: left;
		margin-top: 1em;
		line-height: 1.3em;
	}
	/* Título */
	h6 {
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 1em;
		color: #222222;
		line-height: 1.4em;
		margin-top: 1.5em;
		text-align: left;
	}
	/* Imagem Padrão */
	img a {
		border: 0
	}
	img {
		width: 100px;
		border: 0;
		padding: 3px;
	}
	/* Parágrafo Padrão */
	p {
		font-family: 'Alegreya', serif;
		font-size: 1.2em;
		color: #333333;
		line-height: 1.5em;
		margin: .7em 0 1em 0;
		font-style: normal;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		text-align: justify;
	}
	/* Tabela Padrão */
	table {
		font-family: 'Open Sans', sans-serif;
		font-size: 1em;
		color: #333333;
		line-height: 1.5em;
		margin: .7em 0 1em 0;
		font-style: normal;
		font-weight: 300;
		-webkit-font-smoothing: antialiased;
	}
	/* Links Padrão */
	a:link {
		color: #111111;
		text-decoration: none;
		border-width: 0;
		border-style: none;
	}
	a:visited {
		color: #111111;
		text-decoration: none;
		border: 0 none;
	}
	a:hover {
		color: #dedede;
		text-decoration: none;
		border: 0 none;
	}
	.line { border-bottom: 1px solid #efefef; line-height: 2.5em; }

}
@media print {
	body {
	    font-family: 'Alegreya', serif;
	    font-size: 14px;
	    background: white;
	    color: black;
	    margin: 10;
	    width: auto;
	}
	.container { display: block }
	.head { display: none }
	.foot { display: none }
}
/* for iPad-sized devices */
@media only screen and (max-device-width: 800px) {
	/* makes blog title not fade on touch screen */
	.head {
	    margin: auto;
	    -webkit-opacity: 1;
	    -moz-opacity: 1;
	    opacity: 1;
	}
	h6 {
	    -webkit-opacity: 1;
	    -moz-opacity: 1;
	    opacity: 1;
	}
	.navi p { font-size: 1em }
	.subs ul {
	    margin-top: 4em;
	    font-size: 1.8em;
	}
	.foot p { font-size: 1.2em }
	h2 { font-size: 2.5em }
	h3 { font-size: 2em }
	h6 { font-size: 1em }
	p {
	    font-size: 1em;
	    line-height: 1.5em;
	}
	.post ul {
	    font-size: 1em;
	    line-height: 1em;
	    padding: .1;
	}
	.post ol {
	    font-size: 1em;
	    line-height: 1em;
	    padding: .1;
	}
	#arc {
	    font-size: 1.2em;
	}
}

/* for narrower browsers */
@media screen and (max-width: 800px) {
	/* makes blog title not fade on touch screen */
	.head {
	    margin: auto;
	    -webkit-opacity: 1;
	    -moz-opacity: 1;
	    opacity: 1;
	}
	h6 {
	    -webkit-opacity: 1;
	    -moz-opacity: 1;
	    opacity: 1;
	}
	.navi p { font-size: 1em }
	.subs ul {
	    margin-top: 4em;
	    font-size: 1.6em;
	    line-height: 1.6em;
	}
	.foot p { font-size: 1em }
	h2 { font-size: 2.5em }
	h3 { font-size: 2em }
	h6 { font-size: .8em }
	p {
	    font-size: 1em;
	    line-height: 1.4em;
	}
	.post ul {
	    font-size: 1em;
	    line-height: 1em;
	    padding: .1;
	}
	.post ol {
	    font-size: 1em;
	    line-height: 1em;
	    padding: .1;
	}
}

/* for iPhone-sized devices */
@media only screen and (max-device-width: 480px) {
	.container { width: auto }
	body { padding: 0 }
	h1 { font-size: 1.5em; margin-bottom: 3em; text-align: left }
	h2 { font-size: 2em;  margin-bottom: 1.5em; text-align: left }
	h3 { font-size: 1.8em }
	h6 { font-size: .9em; text-align: left }
	p {
	    font-size: 1em;
	    line-height: 1.4em;
	}
	.post ul {
	    list-style-type: disc;
	    list-style-position: inside;
	    font-size: 1em;
	    line-height: 1.4em;
	    padding: .5em;
	    margin: 0;
	}
	.post ol {
	    list-style-position: inside;
	    font-size: 1em;
	    line-height: 1.4em;
	    padding: .5em;
	    margin: 0;
	}
	.post li {
	    margin-top: .3em;
	}
	/* makes blog title not fade on touch screen */
	.head {
	    -webkit-opacity: 1;
	    -moz-opacity: 1;
	    opacity: 1;
	}
	.navi p { font-size: .8em; margin-top: 1em }
	h6 {
	    -webkit-opacity: 1;
	    -moz-opacity: 1;
	    opacity: 1;
	}
	.subs p {
	    font-size: 1.3em;
	    margin-top: 1em;
	}
	.foot p { font-size: .9em }
}