@import url(https://fonts.googleapis.com/css?family=Open+Sans);

@media all {
	body {
		font: normal 100% 'Open Sans', sans-serif;
		background-color: #FEFEFE;
		color: #000000;
		padding: .6em;
		-webkit-font-smoothing: antialiased;
	}
	/* Classe Principal */
	.container {
		overflow: hidden;
		padding: 0 1em;
		max-width: 32.5em;
		margin: auto;
	}
	/* Ano */
	h2 {
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 2em;
		color: #585858;
		text-align: left;
		margin: 0 .05em 0 0;
		letter-spacing: .1em;
	}
	/* Mês */
	h4 {
		font-family: 'Open Sans', sans-serif;
		text-transform: uppercase;
		font-weight: normal;
		font-size: 1.5em;
		color: #696969;
		text-align: left;
		margin-top: 1em;
		line-height: 1.3em;
	}
	/* Título */
	h6 {
		font-family: 'Open Sans', sans-serif;
		font-weight: normal;
		font-size: 1em;
		color: #222222;
		line-height: 1.4em;
		margin-top: 1.5em;
		text-align: left;
	}
	/* Parágrafo Padrão */
	p {
		font-family: 'Alegreya', serif;
		font-size: 1.2em;
		color: #333333;
		line-height: 1.5em;
		margin: .7em 0 1em 0;
		font-style: normal;
		font-weight: normal;
		-webkit-font-smoothing: antialiased;
		text-align: justify;
	}
	/* Tabela Padrão */
	table {
		font-family: 'Open Sans', sans-serif;
		font-size: 1em;
		color: #333333;
		line-height: 1.5em;
		margin: .7em 0 1em 0;
		font-style: normal;
		font-weight: 300;
		-webkit-font-smoothing: antialiased;
	}
	/* Links Padrão */
	a:link {
		color: #111111;
		text-decoration: none;
		border-width: 0;
		border-style: none;
	}
	a:visited {
		color: #111111;
		text-decoration: none;
		border: 0 none;
	}
	a:hover {
		color: #dedede;
		text-decoration: none;
		border: 0 none;
	}
	.line { border-bottom: 1px solid #efefef; line-height: 2.5em; }
}