@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,300,700);
body {
	font-family: 'Source Sans Pro', sans-serif;
	color: #2D2D2D;
	background-color: #F9F9F9;
}
h1 { font-size: 28px; }
h2 { font-size: 26px; }
h3 { font-size: 24px; }
h4 { font-size: 22px; }
h5 { font-size: 20px; }
h6 { font-size: 18px; }
p  { font-size: 16px; }
/*--------------------CABEÇALHO--------------------*/
#header {
	margin: -32px -32px 24px -32px;
	background-color: #FFFFFF;
	/*border-bottom: solid 1px #666666;*/
	text-align: center;
	padding: 1px;
	/*border-radius: 3px 3px 0px 0px;*/
	vertical-align: baseline;
}
#header a,a:link,a:active {
	text-decoration: none;
	color: #5F5F5F; /*#2D2D2D*/
	border-bottom: 3px solid #F0F0F0;
	margin: -2px;
	padding: 15px;
}
#header a:hover {
	text-decoration: none;
	/*background-color: #E2E2E2;*/
	border-bottom: 3px solid #FE6605;
	color: #FE6605;
	margin: -2px;
	padding: 15px;
}
/*--------------------CABEÇALHO--------------------*/
/*--------------------PRINCIPAL--------------------*/
#main {
	margin: 50px auto;
	padding: 32px;
	max-width: 640px;
	background-color: #FFFFFF;
	border: solid 1px #F0F0F0;
	/*border-radius: 5px;*/
}
#main h1,h2,h3,h4,h5,h6 {
	text-align: center;
}
/*--------------------PRINCIPAL--------------------*/
#conteudo {
	text-align: justify;
}
#conteudo a,a:link,a:active {
	text-decoration: none;
	color: #000000;
	padding: 0px;
	margin: 0px;
}
#conteudo a:hover {
	text-decoration: none;
	color: #1398ec;
	padding: 0px;
	margin: 0px;
}